# bring back distutils for any packages that need it
setuptools>=65.5.0

# core
streamlit==1.45.1

# numerics & plotting
numpy==1.23.5
pandas==2.3.0
matplotlib==3.10.3

# Gym + renderer
gym==0.26.2
pyglet==2.0.9
gymnasium[classic_control]==1.1.0

# PyTorch
torch==2.0.1
